<template>
    <div class="main">
        <h1>Students</h1>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>
 <style>
   .style1 {
       background-color: white;
   }
   .style2 {
       background-color: aliceblue;
   }
   </style>