
<template>
    <div v-bind:class="this.$store.getters.getCurrentstyle"> 
        <input type="radio" value="style1" v-model="stl">Style1
        <input type="radio" value="style2" v-model="stl">Style2
        <button @click="useStyle">Use</button>
        <br>
        {{getCount}}
        <br>

        <br>
		<input type="text" name="search" value="" v-model.lazy.trim="search"><br>
		<input type="button" v-on:click="update2(edit)" value="Update2">
		<table style="border:1px;">
			<tr class="product"  v-for="(item) in students" v-bind:key="item._id" v-bind:style="(item.name.includes(search) && search != '') ? 'color:red' : ''">
				
				<td v-if="item._id==edit"><input v-model="item.name" value="item.name"></td>
				<td v-else> <router-link v-bind:to="'/students/'+item._id">{{item.name}}</router-link></td>
			    <td><a href = "#" v-on:click.prevent = "deleteStudent(item._id)" v-show="item.group==getCurrentUser.group">Видалити</a><a href = "#" v-on:click.prevent = "fillForm(item._id)">Update1</a><a href = "#" v-on:click.prevent = "rplForm(item._id)">Update2</a></td>
				
			</tr>
		</table>
		<form>
			<label>Name</label> <input v-model="name">
			<label>Group</label> <input v-model="group">
			<label>Is PR done</label>
			<input type="button" v-on:click="update1()" value="Update1">
			<input type="button" v-on:click="insert()" value="Add">
		</form>
        <br>
        <br>
        <wysiwyg v-model="name" />
	</div>
</template>
<style>
@import "~vue-wysiwyg/dist/vueWysiwyg.css";
</style>

<script>
    import Vue from 'vue'
	import axios from 'axios'
	import VueAxios from 'vue-axios'

    export default {
        data: function() {
            return {
				id: 0,
				name: '',
				group: '',
				students: [],
				edit: 0,
                search:'',
                stl: ''
            };
        },
        mounted: function(){
           
        Vue.axios.get("http://46.101.212.195:3000/students").then((response) => {
            console.log(response.data)
            this.students = response.data;
            this.$store.commit('setCount', this.students.length);
          })
        },
        computed: {
            getCount () {
                return this.$store.getters.getCount 
            },
            getCurrentUser () {
                return this.$store.getters.getUser
            } 
        },
        methods: {
            useStyle: function() {
                this.$store.commit('setCurrentstyle', this.stl);
            },
            clickme: function(id) {
                this.students = this.students.filter((element) => {
                    return element.id !== id;
                });
            },
            fillForm: function(id) {

                let foundStudent = this.students.find((element) => {
                    return element._id == id;
                });
                this.id = foundStudent._id;
                this.name = foundStudent.name;
            },
            rplForm: function(id) {

                this.edit = id;
            },
            insert: function() {
               
                Vue.axios.post("http://46.101.212.195:3000/students", {
                    name: this.name,
                    group: this.group,
                    isDonePr: false
                })
                .then((response) => {
                     this.students.push({"name": this.name, "group": this.group, "_id": response.data._id});
                    console.log(response.data)
                })     
            },
            update2: function(id) {
                let foundStudent = this.students.find((element) => {
                    return element._id == id;
                });
                Vue.axios.put("http://46.101.212.195:3000/students/"+id, {
                    name: foundStudent.name,
                    group: foundStudent.group,
                    isDonePr: false
                })
                .then((response) => {
                    console.log(response.data)
                })    
                this.edit = 0; 
            },
            update1: function() {
                let foundStudent = this.students.find((element) => {
                    return element._id == this.id;
                });
                foundStudent.name = this.name;
                // Vue.set(foundStudent, 'name', this.name);
                
                Vue.axios.put("http://46.101.212.195:3000/students/"+this.id, {
                    name: this.name,
                    group: this.group,
                    isDonePr: false
                })
                .then((response) => {
                    console.log(response.data)
                })    
            },
            deleteStudent: function(id) {
                Vue.axios.delete("http://46.101.212.195:3000/students/"+id)
                .then((response) => {
                        this.students = this.students.filter((element) => {
                            return element._id !== id;
                        });
                    console.log(response.data)
                })     
            }
            },
    }
</script>
